<article class="listing">
  <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    {{#cs-field content "image" as |image|}}
      <img src="{{image}}" alt="">
    {{/cs-field}}
    <small>View Larger</small>
  </a>
  <h3><a href={{cardstack-url content}} >{{content.title}}</a></h3>
  <div class="detail owner">
    <span>Owner:</span> {{content.owner}}
  </div>
  <div class="detail type">
    <span>Type:</span> {{rental-property-type content.propertyType}} - {{content.propertyType}}
  </div>
  <div class="detail location">
    <span>Location:</span> {{content.city}}
  </div>
  <div class="detail bedrooms">
    <span>Number of bedrooms:</span> {{content.bedrooms}}
  </div>
  <div class="detail bedrooms">
    <span>Sleeps:</span> {{content.sleeps}}
  </div>

  {{! location-map location=content.city }}
</article>
